h1 {
    text-align: center;
    color: #b2e7e8;;
    font-size: 40px;
}

h3 {
    text-align: center;
    color: #f2d096;
    font-size: 35;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #304d63;
    color: #f2d096;
}

strong {
    color: #ed8975;
}